<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303559414413-spnir6mqt2m4mg43sn0m715h64mtg89c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303559414413-spnir6mqt2m4mg43sn0m715h64mtg89c</string>
	<key>API_KEY</key>
	<string>AIzaSyBvsqWCwSdDXaV8vk1keBOCkP3Flt5RHQs</string>
	<key>GCM_SENDER_ID</key>
	<string>303559414413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olecha.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-5d68d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-5d68d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303559414413:ios:36c1d1981469fc41ca48c4</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-5d68d.firebaseio.com</string>
</dict>
</plist>